AIRFLOW_UID=50000 #leave as is
AIRFLOW_GID=0 #leave as is

_AIRFLOW_WWW_USER_USERNAME=your_username
_AIRFLOW_WWW_USER_PASSWORD=your_password

FERNET_KEY=abc123yourGeneratedStringHere=

LENDING_CLUB_DATA_PATH=C:\filepath\accepted_2007_to_2018Q4.csv

AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=your-bucket-name

SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=credit_risk_assessment_wh #leave as is
SNOWFLAKE_DATABASE=credit_risk_assessment_db #leave as is
SNOWFLAKE_SCHEMA_RAW=credit_risk_assessment_db.raw #leave as is
SNOWFLAKE_SCHEMA_TRANSFORMED=credit_risk_assessment_db.transformed #leave as is